<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="data source=LT-000CST3ZW2;initial catalog=PersonManagementTest;integrated security=True;MultipleActiveResultSets=True;" />
    <add name="PersonManagementTestEntities" connectionString="metadata=res://*/Database.PersonManagementTest.csdl|res://*/Database.PersonManagementTest.ssdl|res://*/Database.PersonManagementTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LT-000CST3ZW2;initial catalog=PersonManagementTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>